@use "sass:map";
@use "src/assets/styles/settings/settings.module";

/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
:export {
  SHADOWS_SM: map.get(settings.$s-shadows, sm);
  SHADOWS_MD: map.get(settings.$s-shadows, md);
  SHADOWS_LG: map.get(settings.$s-shadows, lg);
}
