/**
 * Hacks
 */

/**
 * Wekkit HDPI border fix
 *
 * Prevents wekkit from rendering superior border-width
 * on devices with a pixel density of 1.25 or above.
 *
 * @param {number} [border-width = 2] - Excepted border width
 *
 * @example @include t-wekkit-hdpi-small-dimension('border-width', 2);
 */
@mixin t-wekkit-hdpi-small-dimension(
  $property: "border-width",
  $border-width: 2
) {
  /* stylelint-disable-next-line media-feature-name-no-vendor-prefix */
  @media (-webkit-min-device-pixel-ratio: 1.25) {
    #{$property}: $border-width - 0.01px;
  }
}

/**
 * Wekkit input autofill color fix
 *
 * Removes webkit input autofill color
 *
 * @example @include t-wekkit-input-autofill-color;
 */
@mixin t-wekkit-input-autofill-color {
  /* stylelint-disable-next-line at-rule-no-vendor-prefix */
  @-webkit-keyframes t-wekkit-input-autofill-color {
    to {
      color: $s-color-text;
      background: transparent;
    }
  }

  :-webkit-autofill {
    animation: t-wekkit-input-autofill-color both;
  }
}
