/**
 * Modular scale
 *
 * Used to size types based on a base font-size and a chosen ratio.
 *
 * @param {number} factor - The modular scale step
 *
 * @example font-size: t-modular-scale(1);
 */
@function t-modular-scale($factor) {
  @return t-power($s-modular-scale-ratio, $factor) * 1rem;
}

/* Power */
@function t-power($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}
