/**
 * Core
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

object,
embed,
video,
iframe {
  max-width: 100%;
}

hr {
  max-width: 100%;
  height: t-vertical-rhythm(1);
  margin: t-vertical-rhythm(2) 0;
  background: 0 center repeat-x map-get($s-backgrounds, zigzag);
  border: 0;
}

/**
 * Faster taps on mobile devices
 * cf: https://adactio.com/journal/10019 for more info
 */
a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

/**
 * Reset normalize opiniated style
 */
button {
  font-family: inherit;
  font-size: t-modular-scale(0);
  line-height: $s-line-height-base;
}

/* Unordered & ordered list */
/* stylelint-disable selector-max-type, selector-no-qualifying-type, no-descending-specificity */
ul,
ol {
  padding-left: 1.5em;
  margin: t-vertical-rhythm(1) 0;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;
  }
}
/* stylelint-enable selector-max-type, selector-no-qualifying-type, no-descending-specificity */

/* Description list */
dt {
  font-weight: 500;
}

dd {
  margin-left: 1.5em;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Code */
pre {
  max-height: 50vh;
  padding: t-vertical-rhythm(1);
  margin-top: t-vertical-rhythm(1);
  margin-bottom: t-vertical-rhythm(1);
  overflow: auto;
  line-height: 1.2rem;
  tab-size: 2;

  /* stylelint-disable-next-line selector-max-type */
  code {
    padding: 0;
  }
}

/* stylelint-disable no-descending-specificity */
pre,
code {
  color: lighten($s-color-text, 5%);
  background-color: $s-color-gray-lighter;
}

/* Inline code */
code,
kbd {
  padding: 0.2em 0.5em;
  font-size: t-modular-scale(-1, "rem");
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}
/* stylelint-enable no-descending-specificity */

kbd {
  color: $s-color-white;
  background: $s-color-black;
}
