@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

@use "sass:color";
@use "sass:map";

/**
 * Core
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

object,
embed,
video,
iframe {
  max-width: 100%;
}

hr {
  max-width: 100%;
  height: tools.t-vertical-rhythm(1);
  margin: tools.t-vertical-rhythm(3) 0;
  background: 0 center map.get(settings.$s-backgrounds, zigzag) round no-repeat;
  border: 0;
}

/**
 * Faster taps on mobile devices
 * cf: https://adactio.com/journal/10019 for more info
 */
a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

/**
 * Reset normalize opiniated style
 */
button {
  font-family: inherit;
  font-size: tools.t-modular-scale(0);
  line-height: settings.$s-line-height-base;
}

/* Unordered & ordered list */
/* stylelint-disable selector-max-type, selector-no-qualifying-type, no-descending-specificity */
ul,
ol {
  padding-left: 1.5rem;
  margin: tools.t-vertical-rhythm(1) 0;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;
  }
}
/* stylelint-enable selector-max-type, selector-no-qualifying-type, no-descending-specificity */

/* Description list */
dt {
  font-weight: 700;
}

dd {
  margin-left: 1.5rem;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Code */
pre {
  max-height: 50vh;
  padding: tools.t-vertical-rhythm(1);
  margin-top: tools.t-vertical-rhythm(1);
  margin-bottom: tools.t-vertical-rhythm(1);
  overflow: auto;
  line-height: 1.2rem;
  tab-size: 2;

  /* stylelint-disable-next-line selector-max-type */
  code {
    padding: 0;
  }
}

/* stylelint-disable no-descending-specificity */
pre,
code {
  background-color: settings.$s-color-gray-100;
  border-radius: 0.1875rem;
}

/* Inline code */
code,
kbd {
  padding: 0.125rem 0.5rem;
  font-size: tools.t-modular-scale(-1);
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}
/* stylelint-enable no-descending-specificity */

kbd {
  color: settings.$s-color-white;
  background: settings.$s-color-black;
  border-radius: 0.1875rem;
}
