/**
 * Core
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

object,
embed,
video,
iframe {
  max-width: 100%;
}

hr {
  height: t-vertical-rhythm(1);
  max-width: 100%;
  margin: t-vertical-rhythm(2) 0;
  border: 0;
  background: 0 center repeat-x t-ui(pattern, zigzag);
}

/**
 * Faster taps on mobile devices
 * cf: https://adactio.com/journal/10019 for more info
 */
a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

/**
 * Reset normalize opiniated style
 */
button {
  line-height: $s-line-height-base;
  font-family: inherit;
  font-size: t-modular-scale(0);
}
