/**
 * Print
 */

/* stylelint-disable selector-no-qualifying-type, declaration-no-important, color-no-hex */

@media print {
  /* Base */
  *:not([href]) {
    &:not(.o-button),
    &::before,
    &::after {
      color: #000 !important;
      text-shadow: none !important;
      background: transparent !important;
      border-color: #000 !important;
    }
  }

  [href]:not([href^="javascript:"]):not([href^="#"]) {
    text-decoration: underline;

    &::after {
      font-size: t-modular-scale(-1);
      font-style: italic;
      font-weight: 400;
      content: " (" attr(href) ")";
    }
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  pre,
  blockquote {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Additions */
  .p-nav,
  .p-header,
  .p-footer {
    display: none;
  }

  .l-main {
    margin-top: 0;
    margin-bottom: 0;
  }
}
