/**
 * Scrollbar (Webkit only)
 */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: $s-color-primary;

  /* Inner scrollbar */
  body & {
    background-color: $s-color-gray-50;
  }
}

/** Thumb **/
/* stylelint-disable-next-line no-descending-specificity */
::-webkit-scrollbar-thumb {
  background-color: $s-color-secondary;

  &:hover {
    background-color: $s-color-secondary-lighter;
  }

  &:active {
    background-color: $s-color-secondary-darker;
  }
}
