/**
 * Scrollbar (Webkit only)
 */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: $s-color-gray-200;
}

/** Thumb **/
/* stylelint-disable-next-line no-descending-specificity */
::-webkit-scrollbar-thumb {
  background-color: $s-color-gray-300;
  border-radius: 4px;
  transition: 0.2s background-color ease-out;

  &:hover,
  &:active {
    background-color: $s-color-gray-400;
  }
}
