@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

@use "sass:map";
@use "sass:math";

/**
 * Typography
 */

html {
  font-family: settings.$s-font-family-sans;
  font-size: settings.$s-font-size-base * 1rem;
  font-feature-settings: "liga", "clig";
  line-height: settings.$s-line-height-base;
  color: settings.$s-color-body;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: settings.$s-font-family-serif;
  line-height: math.div(settings.$s-line-height-base, 1.2);
  color: settings.$s-color-heading;
  text-wrap: pretty;
}

h1 {
  @include tools.t-heading--1;
}

h2 {
  @include tools.t-heading--2;
}

h3 {
  @include tools.t-heading--3;
}

h4 {
  @include tools.t-heading--4;
}

h5 {
  @include tools.t-heading--5;
}

h6 {
  @include tools.t-heading--6;
}

[href] {
  @include tools.t-link;
}

a:focus {
  outline: none;
}

p {
  margin-top: 0;
  margin-bottom: tools.t-vertical-rhythm(1);

  * + & {
    margin-top: tools.t-vertical-rhythm(1);
  }
}

/* stylelint-disable-next-line selector-no-qualifying-type */
abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted;

  &:hover {
    cursor: help;
  }
}

b,
strong {
  font-weight: 700;
}

mark {
  color: settings.$s-color-body;
}

pre,
code,
kbd,
samp {
  font-family: settings.$s-font-family-mono;
}

[title] {
  text-decoration: underline dashed settings.$s-color-info;
  text-underline-position: under;
  cursor: help;
}
