@use "sass:map";
@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.c-open-source {
  &__link {
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.1em;
  }

  &__lede {
    font-style: italic;
    color: $s-color-muted-body;
    text-wrap: pretty;
  }

  &__description {
    text-wrap: pretty;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
