@use "sass:map";
@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

@keyframes blockquote-animation {
  from {
    transform: scaleY(0);
  }
}

.o-blockquote {
  position: relative;
  padding-left: 1rem;
  margin: tools.t-vertical-rhythm(2);
  font-size: tools.t-modular-scale(1);
  color: settings.$s-color-secondary;

  &::before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 2px;
    height: 100%;
    content: "";
    background: settings.$s-color-gray-200;
    transform-origin: 50% 0;
    animation: blockquote-animation 0.5s ease-out both;

    @include tools.t-wekkit-hdpi-small-dimension("width");
  }

  &__quotes {
    margin: 0;
    text-align: inherit;
    quotes: "\201c""\201d";
    animation-delay: 0.25s;

    &::before,
    &::after {
      font-family: settings.$s-font-family-serif;
      font-size: tools.t-modular-scale(2);
      font-weight: 700;
      line-height: 1;
    }

    &::before {
      margin-right: 0.375rem;
      content: open-quote;
    }

    &::after {
      margin-left: 0.375rem;
      content: close-quote;
    }

    [href]:hover {
      text-decoration: none;
    }
  }

  /** Pulled **/
  &--pulled {
    float: left;

    @media (min-width: map.get(settings.$s-breakpoints, md)) {
      width: 30%;
    }
  }

  /** Cite **/
  &__cite {
    display: block;
    margin-top: tools.t-vertical-rhythm(0.5);
    font-size: tools.t-modular-scale(-2);
    color: settings.$s-color-muted-body;
    animation-delay: 0.25s;

    /* stylelint-disable-next-line no-descending-specificity */
    [href] {
      @include tools.t-link(settings.$s-color-body);
    }

    &::before {
      margin-right: 0.5rem;
      color: inherit;
      content: "\2014";
    }
  }
}
