@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.o-details {
  $root: &;

  margin: t-vertical-rhythm(1) 0;
  border-bottom: 1px solid $s-color-gray-200;

  &__marker {
    width: t-modular-scale(1);
    height: t-modular-scale(1);
  }

  &[open] {
    #{$root}__summary {
      color: $s-color-body;
    }

    #{$root}__marker-close {
      display: none;
    }
  }

  &:not([open]) {
    #{$root}__marker-open {
      display: none;
    }
  }

  /* Summary */
  &__summary {
    @include t-link;

    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    padding: t-vertical-rhythm(0.5) 0;
    margin: 0;
    cursor: pointer;
    outline: 0;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
  }

  /* Panel */
  &__panel {
    padding-bottom: t-vertical-rhythm(0.5);

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &--compact {
    border-bottom: 0;

    #{$root}__summary {
      padding: 0;
    }
  }
}
