@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

.c-experience-duration {
  display: block;
  font-family: settings.$s-font-family-sans;
  font-size: tools.t-modular-scale(0);
  font-weight: normal;
  color: settings.$s-color-muted-body;
  white-space: nowrap;
}
