@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.c-experience-duration {
  display: block;
  font-family: $s-font-family-sans;
  font-size: t-modular-scale(0);
  font-weight: normal;
  color: $s-color-muted-body;
  white-space: nowrap;
}
