@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

.o-form {
  /* Fieldset */
  &__fieldset {
    padding: tools.t-vertical-rhythm(1.5);
    margin: tools.t-vertical-rhythm(2) 0;
    border: 1px solid settings.$s-color-border;
    border-radius: 0.5rem;
  }

  /* Legend */
  &__legend {
    padding: 0 0.5rem;
    margin-left: -0.5rem;
    font-size: tools.t-modular-scale(-1);
    font-weight: 700;
    color: settings.$s-color-heading;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  /* Form group */
  &__group {
    $root: &;

    margin-bottom: tools.t-vertical-rhythm(1);

    &-detail {
      display: block;
      margin-top: tools.t-vertical-rhythm(0.25);
      font-size: tools.t-modular-scale(-1);
      color: settings.$s-color-muted-body;

      /** States **/

      /*** Success ***/
      #{$root}--success & {
        color: settings.$s-color-success;
      }

      /*** Error ***/
      #{$root}--error & {
        color: settings.$s-color-danger;
      }

      /*** Warning ***/
      #{$root}--warning & {
        color: settings.$s-color-warning;
      }
    }
  }

  /* Label */
  &__label {
    display: inline-block;
    margin-top: tools.t-vertical-rhythm(0.25);
    margin-bottom: tools.t-vertical-rhythm(0.25);
    font-weight: 700;
    transition: color 0.3s;

    /** Block **/
    &--block {
      display: block;
    }
  }
}
