@import "../../../assets/styles/settings/_settings";
@import "../../../assets/styles/tools/_tools";

.o-form {
  $root: &;

  /* Fieldset */
  &__fieldset {
    border: 1px solid $s-color-gray;
    margin: t-vertical-rhythm(2) 0;
    padding: t-vertical-rhythm(1.5);
  }

  /* Legend */
  &__legend {
    margin-left: -0.5em;
    padding: 0 0.5em;
    color: $s-color-primary;
    text-transform: uppercase;
    font-weight: 700;
    font-size: t-modular-scale(0);
  }

  /* Form group */
  &__group {
    margin-bottom: t-vertical-rhythm(1);

    /** States **/

    /*** Success ***/
    &--success #{$root}__label {
      color: $s-color-success;
    }

    /*** Error ***/
    &--error #{$root}__label {
      color: $s-color-danger;
    }

    /*** Warning ***/
    &--warning #{$root}__label {
      color: $s-color-warning;
    }

    /** Alert **/
    &--success,
    &--error,
    &--warning {
      .o-alert {
        margin: t-vertical-rhythm(0.5) 0 0;
      }
    }
  }

  /* Label */
  &__label {
    display: inline-block;
    margin-top: t-vertical-rhythm(0.25);
    margin-bottom: t-vertical-rhythm(0.25);
    font-weight: 700;
    transition: color 0.3s;

    /** Block **/
    &--block {
      display: block;
    }
  }

  /* Field */
  &__field {
    appearance: none;
    height: t-vertical-rhythm(1.75);
    line-height: $s-line-height-base;
    width: 100%;
    vertical-align: middle;
    padding: 0 t-vertical-rhythm(0.5);
    border: 2px solid $s-color-gray;
    background-color: transparent;
    font-family: inherit;
    font-size: t-modular-scale(0);
    color: $s-color-text;
    text-overflow: ellipsis;
    transition: color 0.2s, background 0.2s, border 0.2s;

    @include t-wekkit-hdpi-small-dimension;

    &--no-corner-left {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &--no-corner-right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    /** Textarea **/
    &--textarea {
      height: auto;
      padding-top: t-vertical-rhythm(0.5);
      padding-bottom: t-vertical-rhythm(0.5);
      resize: vertical;
    }

    /** Color **/
    &--color {
      padding: 0 0.2em !important; /* stylelint-disable-line declaration-no-important */
    }

    /** Icons **/
    &--search,
    &--select {
      padding-right: 2em !important; /* stylelint-disable-line declaration-no-important */
      background-repeat: no-repeat;
      background-position: right 0.25em center;
      background-size: 1.5em;
    }

    /*** Search ***/
    &--search {
      background-image: url("#{t-path(icons)}/search.svg");
    }

    /*** Select ***/
    &--select {
      background-image: url("#{t-path(icons)}/arrow-down.svg");

      &:not(:disabled) {
        cursor: pointer;
      }

      &::-ms-expand {
        display: none;
      }
    }
  }

  @at-root {
    /* Wekkit input autofill color */
    @include t-wekkit-input-autofill-color;

    /*
		 * Picker
		 *
		 * Overwrite inputs that use picker / spin
		 * (Experimental, won’t work in all browsers)
		 */
    ::-webkit-calendar-picker-indicator {
      padding: 11px 3px;
    }

    ::-webkit-inner-spin-button {
      padding: 6px 2px;
    }

    /* Placeholder */
    ::placeholder {
      color: $s-color-gray-darker;
    }

    /* Required */
    :required {
      box-shadow: none;
    }
  }

  /* File */
  &__file {
    &-input {
      // TODO: find a way to import single utility
      // @extend .u-is--visuallyHidden;
    }
  }

  /*
	 * Toggle (Checkbox, Radio)
	 */
  &__toggle {
    $root-toggle: &;

    display: inline-block;
    margin-top: t-vertical-rhythm(0.25);
    margin-bottom: t-vertical-rhythm(0.25);

    &:not(:last-child) {
      margin-right: 2em;
    }

    &-input {
      // TODO: find a way to import single utility
      // @extend .u-is--visuallyHidden;

      &:not(:disabled) ~ #{$root-toggle}-icon,
      &:not(:disabled) ~ #{$root-toggle}-text {
        cursor: pointer;
      }

      /** Checked **/
      &:checked {
        /* stylelint-disable-next-line max-nesting-depth */
        ~ #{$root-toggle}-icon::before {
          background-color: $s-color-link;
        }
      }
    }

    &-icon {
      display: inline-block;
      width: t-vertical-rhythm(0.8, "rem");
      height: t-vertical-rhythm(0.8, "rem");
      background: none;
      border: 2px solid $s-color-gray;
      vertical-align: text-top;
      position: relative;
      transition: background-color 0.2s, border 0.2s;

      @include t-wekkit-hdpi-small-dimension;

      /** Radio **/
      #{$root-toggle}--radio & {
        border-radius: 50%;

        /* stylelint-disable-next-line max-nesting-depth */
        &::before {
          border-radius: inherit;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        transition: background-color 0.2s;
      }
    }

    &-text {
      margin-left: 0.75em;
    }
  }

  /* Range (Experimental, won’t work in all browsers) */
  &__range {
    appearance: none;
    width: 100%;
    height: 2px;
    background-color: $s-color-gray;
    outline: none;
    margin-top: t-vertical-rhythm(0.5, "rem");
    margin-bottom: t-vertical-rhythm(0.5, "rem");
    padding: 0;
    transition: background 0.2s ease-out;

    @include t-wekkit-hdpi-small-dimension("height", 2);

    &:not(:disabled) {
      cursor: pointer;
    }

    // Firefox overrides
    &::-moz-range-track {
      background-color: $s-color-gray;
      border: 0;
    }

    /* stylelint-disable no-descending-specificity */
    &::-moz-focus-inner,
    &::-moz-focus-outer {
      border: 0;
    }
    /* stylelint-enable no-descending-specificity */

    &::-ms-track {
      height: auto;
      border-radius: t-vertical-rhythm(0.4, "rem");
    }
    /* stylelint-enable */
  }

  /** Thumb **/
  @mixin range-thumb($vendor-prefix) {
    &__range {
      &#{$vendor-prefix} {
        appearance: none;
        width: t-vertical-rhythm(0.8, "rem");
        height: t-vertical-rhythm(0.8, "rem");
        border-radius: 50%;
        border: 2px solid $s-color-secondary;
        background: $s-color-white;
      }
    }
  }

  @include range-thumb("::-webkit-slider-thumb");
  @include range-thumb("::-moz-range-thumb");

  /* States */

  /** Hover **/
  &__field:hover,
  &__toggle:hover &__toggle-icon {
    border-color: $s-color-gray-lighter;
  }

  &__range:hover {
    background-color: $s-color-gray-lighter;

    &::-moz-range-track {
      background-color: $s-color-gray-lighter;
    }
  }

  /** Focus **/
  &__field:focus {
    outline: none;
  }

  &__field:focus,
  &__toggle-input:focus ~ &__toggle-icon {
    border-color: $s-color-text;
  }

  &__range:focus {
    background-color: $s-color-text;

    &::-moz-range-track {
      background-color: $s-color-text;
    }
  }

  /** Disabled **/
  &__field:disabled,
  &__toggle-input:disabled ~ &__toggle-icon {
    color: $s-color-gray-darker;
    background-color: $s-color-gray-lighter;
    border-color: $s-color-gray;
  }

  &__toggle-input:disabled ~ &__toggle-text {
    color: $s-color-gray-darker;
  }

  &__range:disabled {
    background-color: $s-color-gray;

    &::-moz-range-track {
      background-color: $s-color-gray;
    }

    &::-webkit-slider-thumb {
      background-color: $s-color-gray-lighter;
      border-color: $s-color-gray;
    }

    &::-moz-range-thumb {
      background-color: $s-color-gray-lighter;
      border-color: $s-color-gray;
    }
  }
}
