@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

/* Reference */
.o-footnote-ref {
  padding: 0 1px;

  &:focus {
    color: settings.$s-color-white;
    text-decoration: none;
    background-color: settings.$s-color-link;
  }
}

/* Notes */
.o-footnotes {
  margin: tools.t-vertical-rhythm(2) 0;
  border-top: 1px solid settings.$s-color-border;

  &__note {
    margin-top: tools.t-vertical-rhythm(1);

    &:not(:last-child) {
      margin-bottom: tools.t-vertical-rhythm(1);
    }
  }

  &__backref {
    text-decoration: none;

    svg {
      width: tools.t-modular-scale(1);
      height: tools.t-modular-scale(1);
      vertical-align: middle;
    }
  }
}
