@import "assets/styles/settings/_settings.module";
@import "assets/styles/tools/_tools.module";

/* Reference */
.o-footnote-ref {
  padding: 0 1px;

  &:focus {
    color: $s-color-white;
    text-decoration: none;
    background-color: $s-color-link;
  }
}

/* Notes */
.o-footnotes {
  margin: t-vertical-rhythm(2) 0;
  border-top: 1px solid $s-color-gray;

  &__note {
    margin-top: t-vertical-rhythm(1);

    &:not(:last-child) {
      margin-bottom: t-vertical-rhythm(1);
    }
  }

  &__backref {
    text-decoration: none;

    svg {
      font-size: t-modular-scale(1);
      vertical-align: middle;
    }
  }
}
