@import "assets/styles/settings/_settings";
@import "assets/styles/tools/_tools";

/* stylelint-disable selector-max-type, no-descending-specificity */
.o-table {
  $root: &;
  $v-padding: t-vertical-rhythm(0.375) !default;
  $h-padding: $v-padding * 2;
  $scale-factor: 2 !default;

  margin: t-vertical-rhythm(2) 0;
  text-align: left;

  tbody tr:not(:last-child) {
    border-bottom: 1px solid $s-color-gray;
  }

  th,
  td {
    padding: $v-padding $h-padding;
  }

  th {
    font-weight: 500;
    white-space: nowrap;
  }

  thead,
  tfoot {
    color: $s-color-primary;
  }

  thead {
    border-bottom: 2px solid;
  }

  tfoot {
    border-top: 1px solid;
  }

  /** Align **/

  /*** Top ***/
  &--align-top {
    thead,
    tbody,
    tfoot {
      vertical-align: top;
    }
  }

  /*** Bottom ***/
  &--align-bottom {
    thead,
    tbody,
    tfoot {
      vertical-align: bottom;
    }
  }

  /** Equal Columns **/
  &--equal-columns {
    table-layout: fixed;
  }

  /** Vertical **/
  &--vertical {
    text-align: center;

    tbody {
      tr:not(:last-child) {
        border-bottom: 0;
      }

      th:not(:last-child),
      td:not(:last-child) {
        border-right: 1px solid $s-color-gray;
      }
    }
  }

  /** Striped **/
  &--striped {
    tbody {
      tr:not(:last-child) {
        border-bottom-color: transparent;
      }

      tr:nth-child(even) {
        background-color: $s-color-gray-lighter;
      }
    }

    // And vertical
    &#{$root}--vertical {
      tbody {
        /* stylelint-disable max-nesting-depth */
        tr:nth-child(even) {
          background-color: transparent;
        }

        td:nth-child(2n) {
          background-color: $s-color-gray-lighter;
        }

        th:not(:last-child),
        td:not(:last-child) {
          border-right: 0;
        }
        /* stylelint-enable max-nesting-depth */
      }
    }
  }

  /** Hover **/
  &--hover {
    tbody tr:hover {
      background-color: $s-color-gray-lighter;
    }

    // And striped
    &#{$root}--striped {
      tbody tr:hover {
        background-color: $s-color-gray;
      }
    }
  }

  /** Small spacing **/

  /* stylelint-disable max-nesting-depth */
  &--sm {
    thead,
    tfoot {
      th,
      td {
        padding-left: $h-padding / $scale-factor;
        padding-right: $h-padding / $scale-factor;
      }
    }

    tbody {
      th,
      td {
        padding: $v-padding / $scale-factor $h-padding / $scale-factor;
      }
    }

    /*** Vertical ***/
    &-vertical {
      tbody {
        th,
        td {
          padding-top: $v-padding / $scale-factor;
          padding-bottom: $v-padding / $scale-factor;
        }
      }
    }

    /*** Horizontal ***/
    &-horizontal {
      th,
      td {
        padding-left: $h-padding / $scale-factor;
        padding-right: $h-padding / $scale-factor;
      }
    }
  }

  /** Large spacing **/
  &--lg {
    thead,
    tfoot {
      th,
      td {
        padding-left: $h-padding * $scale-factor;
        padding-right: $h-padding * $scale-factor;
      }
    }

    tbody {
      th,
      td {
        padding: $v-padding * $scale-factor $h-padding * $scale-factor;
      }
    }

    /*** Vertical ***/
    &-vertical {
      tbody {
        th,
        td {
          padding-top: $v-padding * $scale-factor;
          padding-bottom: $v-padding * $scale-factor;
        }
      }
    }

    /*** Horizontal ***/
    &-horizontal {
      thead,
      tfoot {
        th,
        td {
          padding-left: $h-padding * $scale-factor;
          padding-right: $h-padding * $scale-factor;
        }
      }

      tbody {
        th,
        td {
          padding-left: $h-padding * $scale-factor;
          padding-right: $h-padding * $scale-factor;
        }
      }
    }
  }
  /* stylelint-enable max-nesting-depth */

  /** Responsive **/
  @media screen and (max-width: map-get($s-breakpoints, md)) {
    &--responsive-\@md {
      display: inline-block;
      max-width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  }
}
