@use "src/assets/styles/tools/tools.module";

.p-aside {
  flex-grow: 1;
  margin-top: tools.t-vertical-rhythm(3);
  margin-bottom: tools.t-vertical-rhythm(3);

  &--no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
}
