@use "src/assets/styles/tools/tools.module";

.o-form__file {
  &-icon {
    svg {
      width: tools.t-modular-scale(1);
      height: tools.t-modular-scale(1);
      vertical-align: middle;
    }
  }

  &-text {
    margin-left: 0.5rem;
  }
}
