@use "sass:map";
@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.home {
  &-about {
    &__heading {
      margin-top: t-vertical-rhythm(3);
      text-transform: none;
    }

    &__paragraph {
      max-width: 56rem;
      margin-bottom: t-vertical-rhythm(3);
      font-size: t-modular-scale(1);
      line-height: 1.5;
      text-wrap: balance;
    }

    &__portrait {
      display: block;
      width: 150px;
      margin-top: t-vertical-rhythm(2);
      margin-bottom: t-vertical-rhythm(2);
      border-radius: 50%;
    }
  }

  &-lg-gutter {
    > :global(.cell) {
      padding-right: 1.6rem;
      padding-left: 1.6rem;

      @media (min-width: map.get($s-breakpoints, lg)) {
        padding-right: 3.2rem;
        padding-left: 3.2rem;
      }
    }
  }

  &-cell {
    &--gray {
      background: $s-color-gray;
    }

    &--gray-lighter {
      background: $s-color-gray-lighter;
    }
  }
}
