@use "sass:map";
@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.home {
  &__about {
    &-paragraph {
      max-width: 50rem;
      margin-bottom: t-vertical-rhythm(4);
      font-size: t-modular-scale(1);
      text-wrap: balance;
    }
  }

  &__tools {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  &__experiences-title {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 1rem;
    align-items: baseline;
    justify-content: space-between;
  }

  &-lg-gutter {
    > :global(.cell) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;

      @media (min-width: map.get($s-breakpoints, lg)) {
        padding-right: 3.5rem;
        padding-left: 3.5rem;
      }
    }
  }

  &-cell {
    &--gray {
      background: $s-color-gray-100;
    }

    &--gray-lighter {
      background: $s-color-gray-50;
    }
  }

  &__get-in-touch {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
  }
}
