@import '../../../assets/styles/settings/_settings';

.o-badge {
	display: inline-block;
	margin-left: .5em;
	padding: .1em .6em;
	background-color: $s-color-gray;
	border-radius: 1em;
	color: $s-color-text;
	// font-size: t-modular-scale(-1, "rem");
	font-weight: 400;
	text-decoration: none;
	white-space: nowrap;

	&:empty {
		display: none;
	}

	&:hover,
	&:focus {
		background-color: $s-color-gray-lighter;
		text-decoration: none;
	}

	&:active {
		background-color: $s-color-gray-darker;
	}
}
