@import "assets/styles/settings/_settings.module";
@import "assets/styles/tools/_tools.module";

.storybook {
  &-swatch {
    display: inline-block;
    width: t-vertical-rhythm(2);
    height: t-vertical-rhythm(2);
    border: 1px solid $s-color-gray;

    &--lg {
      width: t-vertical-rhythm(4);
      height: t-vertical-rhythm(4);
    }
  }
}
