@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

.storybook {
  &-swatch {
    display: inline-block;
    width: tools.t-vertical-rhythm(2);
    height: tools.t-vertical-rhythm(2);
    border-radius: tools.t-vertical-rhythm(0.5);
    box-shadow: inset 0 0 0 1px rgba(settings.$s-color-black, 0.05);

    &--lg {
      width: tools.t-vertical-rhythm(4);
      height: tools.t-vertical-rhythm(4);
    }
  }
}
