@use "sass:map";
@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.c-project {
  $root: &;

  height: 100%;
  padding: t-vertical-rhythm(1);
  background: $s-color-white;
  border-radius: 0.5rem;
  box-shadow: map.get($s-shadows, lg);

  &__list-item {
    all: unset;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;

    @include t-link;

    > svg {
      width: 1.25rem;
      height: 1.25rem;
      @include t-link($s-color-muted-body, "none");
    }
  }

  &__thumbnail {
    display: block;
    width: 100%;
    margin-bottom: t-vertical-rhythm(1);
    border: 1px solid $s-color-border;
    border-radius: 0.25rem;
  }

  &__title {
    margin-bottom: t-vertical-rhythm(0.5);
  }

  &__link {
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.1em;
  }

  &__lede {
    color: $s-color-muted-body;
    text-wrap: pretty;
  }

  &__content-heading {
    font-size: t-modular-scale(-2);
    font-weight: 700;
    color: $s-color-heading;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__content-list {
    margin-top: 0;
    text-wrap: pretty;

    > * {
      margin-top: 0;
    }
  }

  &__content-architecture {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: t-vertical-rhythm(1) 0;
  }
}
