@import "assets/styles/settings/_settings";
@import "assets/styles/tools/_tools";

.c-project {
  $root: &;

  &__link {
    display: block;
    margin-bottom: t-vertical-rhythm(1);
    position: relative;
    overflow: hidden;

    &:hover,
    &:focus {
      #{$root}__thumbnail {
        filter: grayscale(0);
      }

      #{$root}__overlay {
        text-decoration: none;
        opacity: 0;

        /* stylelint-disable-next-line max-nesting-depth */
        &::before {
          transform: scaleX(0);
        }
      }
    }
  }

  &__thumbnail {
    display: block;
    width: 100%;
    border: 1px solid $s-color-gray;
    filter: grayscale(1);
    transition: filter 0.2s ease-out;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $s-color-white;
    text-align: center;
    transition: opacity 0.2s ease-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: t-background(dots),
        linear-gradient(
          rgba($s-color-primary-lighter, 0.7),
          rgba($s-color-primary-darker, 0.9)
        );
      transform-origin: 100% 50%;
      transition: transform 0.2s ease-out;
    }

    > * {
      position: relative;
    }
  }

  &__title {
    margin: 0;
    font-style: italic;
    font-weight: 700;
    color: $s-color-secondary;
  }

  &__line {
    width: 30%;
    border-bottom: 1px solid;
    margin-top: t-vertical-rhythm(0.3);
    margin-bottom: t-vertical-rhythm(0.3);
  }

  &__tagline {
    margin: 0;
    font-size: t-modular-scale(-1);
  }

  &__detail {
    $root-detail: &;

    &s {
      #{$root-detail}:last-child {
        #{$root-detail}-list:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-heading {
      font-size: t-modular-scale(-2);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 700;
    }

    &-list {
      margin-top: 0;
    }
  }

  &__success {
    color: $s-color-success;
  }

  &__award {
    color: $s-color-info;
  }

  &--highlighted {
    margin-bottom: t-vertical-rhythm(1);
    padding: t-vertical-rhythm(1) $grid-gutter 0;
    background-color: $s-color-gray-lighter;
    border-radius: 6px;
  }
}
