@use "sass:map";
@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

.p-footer {
  position: relative;
  font-size: tools.t-modular-scale(-1);
  color: settings.$s-color-muted-body;

  &__version {
    font-family: settings.$s-font-family-mono;
  }

  &__copyright {
    margin-bottom: 0;
    text-align: center;
    text-wrap: balance;

    &-separator {
      display: none;
    }

    @media (min-width: map.get(settings.$s-breakpoints, sm)) {
      &-separator {
        display: inline-block;
      }

      br {
        display: none;
      }
    }
  }

  &__page-top {
    transform: rotate(180deg);
  }
}
