@use "sass:map";
@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.p-footer {
  position: relative;
  font-size: t-modular-scale(-1);
  color: $s-color-muted-body;

  &__version {
    font-family: $s-font-family-mono;
  }

  &__copyright {
    margin-bottom: 0;
    text-align: center;
    text-wrap: balance;

    &-separator {
      display: none;
    }

    @media (min-width: map.get($s-breakpoints, sm)) {
      &-separator {
        display: inline-block;
      }

      br {
        display: none;
      }
    }
  }

  &__page-top {
    transform: rotate(180deg);
  }
}
