@use "src/assets/styles/tools/tools.module";

.storybook-icon {
  svg {
    display: block;
    width: tools.t-vertical-rhythm(1);
    height: auto;
    margin: tools.t-vertical-rhythm(1);
    fill: currentcolor;
  }
}
