@use "sass:map";
@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.l-layout {
  box-sizing: content-box;
  max-width: 64rem;
  min-height: 100vh;
  padding: 1.25rem;
  margin: 0 auto;
}
