/**
 * Academic Qualification
 */

.c-academic-qualification {
	&__heading {
		margin-bottom: 0;
	}

	&__establishment {
		font-weight: 700;
	}

	&__graduation-year {
		color: $s-color-text-dimmed;
	}
}
