@import "assets/styles/settings/_settings";
@import "assets/styles/tools/_tools";

.o-card {
  $root: &;
  $v-padding: t-vertical-rhythm(0.75) !default;
  $h-padding: $v-padding * 2;
  $scale-factor: 1.5 !default;

  /* Group */
  &-group {
    margin-bottom: $grid-gutter;

    .grid--lgGutter-\@xs > & {
      // TODO: find a way to import single vendor
      // margin-bottom: $grid-gutter-lg;
    }
  }

  /* Card */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $s-color-gray;
  background-color: $s-color-white;
  transition: box-shadow 0.2s, transform 0.2s;

  /* Components */
  &__banner,
  &__header,
  &__body,
  &__footer {
    flex: 0 1 auto;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  /* Banner */
  &__banner {
    min-height: t-vertical-rhythm(7);
    padding: $v-padding $h-padding;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-color: $s-color-gray-lighter;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid;
    border-bottom-color: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    /* stylelint-disable-next-line no-descending-specificity */
    * {
      color: $s-color-white;
      text-shadow: -1px 1px 1px rgba($s-color-black, 0.3);
      z-index: map-get($s-layers, card-banner);
    }
  }

  /* Header */
  &__header {
    padding: $v-padding $h-padding;
    border-bottom: 1px solid;
    border-bottom-color: inherit;
  }

  /* Body */
  &__body {
    padding: $v-padding $h-padding;
    flex-grow: 1;
  }

  /* Footer */
  &__footer {
    padding: $v-padding $h-padding;
    border-top: 1px solid;
    border-top-color: inherit;
  }

  /** Hover / Forward **/
  &--hover:hover,
  &--hover:focus,
  &--forward {
    transform: translate(-4px, -4px);
  }

  /** Active **/
  &--active:active {
    box-shadow: none;
    transform: none;
  }

  /** Spacing **/

  /*** Small ***/
  &--sm & {
    &__banner,
    &__header,
    &__body,
    &__footer {
      padding: ($v-padding / $scale-factor) ($h-padding / $scale-factor);
    }
  }

  /*** Large ***/
  &--lg & {
    &__banner,
    &__header,
    &__body,
    &__footer {
      padding: $v-padding $h-padding;
    }

    @media (min-width: map-get($s-breakpoints, sm)) {
      &__banner,
      &__header,
      &__body,
      &__footer {
        padding: ($v-padding * $scale-factor) ($h-padding * $scale-factor);
      }
    }
  }

  /** Secondary **/
  &--secondary {
    border-color: $s-color-secondary;

    #{$root}__hr {
      border-color: $s-color-secondary;
    }
  }

  /** Primary **/
  &--primary {
    border-color: $s-color-primary;

    #{$root}__hr {
      border-color: $s-color-primary;
    }
  }

  /** Banner gradient **/
  &--banner-gradient & {
    &__banner::after {
      content: "";
      background-image: linear-gradient(
        to top,
        rgba($s-color-black, 0.3) 0%,
        transparent 50%
      );
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
  }
}
