@import "assets/styles/settings/_settings";
@import "assets/styles/tools/_tools";

.c-academic-qualification {
  &:not(:last-child) {
    margin-bottom: t-vertical-rhythm(1);
  }

  &__heading {
    margin-bottom: 0;
  }

  &__establishment {
    font-weight: 700;
  }

  &__graduation-year {
    color: $s-color-text-dimmed;
  }
}
