@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.c-academic-qualification {
  &:not(:last-child) {
    margin-bottom: t-vertical-rhythm(1);
  }

  &__heading {
    margin-bottom: 0;
  }

  &__establishment {
    font-weight: 700;
  }

  &__link {
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.1em;
  }

  &__title {
    display: block;
    color: $s-color-heading;
  }

  &__graduation-year {
    color: $s-color-muted-body;
  }
}
