@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.c-academic-qualification {
  &:not(:last-child) {
    margin-bottom: t-vertical-rhythm(1);
  }

  &__heading {
    margin-bottom: 0;
  }

  &__establishment {
    font-weight: 700;
  }

  &__title {
    display: block;
    font-family: $s-font-family-serif;
    font-weight: 700;
    color: $s-color-heading;
  }

  &__graduation-year {
    color: $s-color-muted-body;
  }
}
