@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

.o-tabs {
  $root: &;

  margin: tools.t-vertical-rhythm(1) 0;

  /* Thumbs */
  &__thumbs {
    display: flex;
    padding-left: 0;
    overflow: auto hidden;
    list-style: none;
    border-bottom: 1px solid settings.$s-color-border;
  }

  &__thumb {
    position: relative;
    flex: 0 1 auto;
    white-space: nowrap;
  }

  /* Button */
  &__button {
    all: unset;
    display: block;
    padding: tools.t-vertical-rhythm(0.5) 1em;
    cursor: pointer;
    outline: 0;
    background-color: transparent;
    border: 0;

    @include tools.t-link;

    /** Active **/
    &--active {
      @include tools.t-link(
        $color: settings.$s-color-muted-body,
        $decoration: none,
        $hover-color: settings.$s-color-muted-body,
        $hover-decoration: none
      );

      cursor: default;
    }
  }

  /* Panels */
  &__panels {
    padding-left: 0;
    list-style: none;
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }
}
