@import "../../../assets/styles/settings/_settings";
@import "../../../assets/styles/tools/_tools";

.o-notice {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: t-vertical-rhythm(0.75) 0;
  background-color: $s-color-gray;
  border-top: 1px solid $s-color-gray-darker;
  font-size: 0.9em;
  z-index: t-layer("notice");
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: visibility 0.5s ease-out, opacity 0.5s ease-out,
    transform 0.5s ease-out;

  /** Active **/
  &.is--active {
    visibility: visible;
    opacity: 0.95;
    transform: translateY(0);
  }

  /* Close */
  &__close {
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: 0;
    all: unset;

    @include t-link($s-color-text-dimmed, "none", $hover-decoration: "none");

    cursor: pointer;
  }
}
