@use "sass:map";
@use "src/assets/styles/settings/settings.module";

/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
:export {
  BREAKPOINTS_XS: map.get(settings.$s-breakpoints, sm) - 2;
  BREAKPOINTS_SM: map.get(settings.$s-breakpoints, sm) - 1;
  BREAKPOINTS_MD: map.get(settings.$s-breakpoints, md) - 1;
  BREAKPOINTS_LG: map.get(settings.$s-breakpoints, lg) - 1;
  BREAKPOINTS_XL: map.get(settings.$s-breakpoints, xl) - 1;
}
