@import "assets/styles/settings/_settings";
@import "assets/styles/tools/_tools";

/* stylelint-disable selector-no-type, selector-max-type, no-duplicate-selectors, selector-no-qualifying-type, no-descending-specificity */

/* Unordered & ordered list */
ul,
ol {
  margin: t-vertical-rhythm(1) 0;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;
  }
}

ul,
ol {
  /** Unstyled **/
  &.o-list--unstyled {
    padding-left: 0;
    list-style: none;

    ul,
    ol {
      list-style: none;
    }
  }

  /** Inline **/
  &.o-list--inline {
    padding-left: 0;

    li {
      display: inline-block;
      vertical-align: top;
    }

    ul,
    ol {
      padding-left: 0;
    }
  }

  /** Horizontally striped **/
  &.o-list--hStriped {
    li:not(:first-child) {
      border-top: 1px solid $s-color-gray;
    }

    ul,
    ol {
      border-top: 1px solid $s-color-gray;
    }

    // And inline
    &.o-list--inline {
      li:not(:first-child) {
        border-top: 0;
      }
    }
  }

  /** Vertically striped **/
  &.o-list--vStriped {
    li {
      padding-left: 1em;
      border-left: 1px solid $s-color-gray;
    }

    // And inline
    &.o-list--inline {
      li {
        padding-left: 0;
        border-left: 0;

        /* stylelint-disable-next-line max-nesting-depth */
        &:not(:first-child) {
          padding-left: 1em;
          margin-left: 1em;
          border-left: 1px solid $s-color-gray;
        }
      }
    }
  }

  /** Hover **/
  &.o-list--hover {
    li {
      position: relative;

      &:hover::after {
        content: "";
        position: absolute;
        top: 0;
        left: -2px;
        height: 100%;
        width: 2px;
        background-color: $s-color-secondary;
      }
    }
  }

  /** Active **/
  &.o-list--active {
    li.is--active {
      font-weight: 700;
    }
  }

  /** Large **/
  &.o-list--lg {
    li {
      padding-top: t-vertical-rhythm(0.25);
      padding-bottom: t-vertical-rhythm(0.25);
    }
  }

  /** Link display block **/
  &.o-list--linkBlock {
    li a {
      display: block;
    }
  }
}

/* Description list */
dt {
  font-weight: 700;
}

dd {
  margin-left: 1.5em;
}
