@import "assets/styles/settings/_settings.module";
@import "assets/styles/tools/_tools.module";

.p-article {
  $p-article: (
    v-padding: t-vertical-rhythm(2),
    scale-factor: 2,
  );

  position: relative;
  margin-top: map-get($p-article, v-padding);
  margin-bottom: map-get($p-article, v-padding);

  /** Margin **/
  &--sm {
    margin-top: map-get($p-article, v-padding) /
      map-get($p-article, scale-factor);
    margin-bottom: map-get($p-article, v-padding) /
      map-get($p-article, scale-factor);
  }

  &--lg {
    margin-top: map-get($p-article, v-padding) *
      map-get($p-article, scale-factor);
    margin-bottom: map-get($p-article, v-padding) *
      map-get($p-article, scale-factor);
  }

  &--no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--no-top-margin {
    margin-top: 0;
  }

  &--no-bottom-margin {
    margin-bottom: 0;
  }

  /** Secondary **/
  &--secondary {
    padding-top: map-get($p-article, v-padding);
    padding-bottom: map-get($p-article, v-padding);
    background: $s-color-gray-lighter;

    @if lightness($s-color-gray-lighter) < 75 {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $s-color-text-dimmed;
      }

      p,
      span {
        color: $s-color-white;
      }
    }
  }

  &--secondary-sm {
    padding-top: map-get($p-article, v-padding) /
      map-get($p-article, scale-factor);
    padding-bottom: map-get($p-article, v-padding) /
      map-get($p-article, scale-factor);
  }

  &--secondary-lg {
    padding-top: map-get($p-article, v-padding) *
      map-get($p-article, scale-factor);
    padding-bottom: map-get($p-article, v-padding) *
      map-get($p-article, scale-factor);
  }
}
