@import "assets/styles/settings/_settings";
@import "assets/styles/tools/_tools";

.o-alert {
  align-items: flex-start;
  margin: t-vertical-rhythm(1) 0;
  padding: t-vertical-rhythm(0.75) ($grid-gutter / 2);
  border-left: 2px solid;
  background-color: $s-color-gray-lighter;
  animation: 0.3s ease-out both;
  animation-name: u-animation--fade-in, alert-animation;

  /* Animation */
  @keyframes alert-animation {
    from {
      transform: translateY(t-vertical-rhythm(1));
    }
  }

  /* Icon */
  &__icon {
    flex-shrink: 0;

    svg {
      font-size: t-modular-scale(1);
      vertical-align: middle;
    }
  }

  /* Content */
  &__content {
    padding-left: 0;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  /* Close */
  &__close {
    flex-shrink: 0;

    &-button {
      background-color: transparent;
      border: 0;
      padding: 0;
      outline: 0;
      all: unset;

      @include t-link($s-color-text-dimmed, "none", $hover-decoration: "none");

      cursor: pointer;

      svg {
        font-size: t-modular-scale(1);
        vertical-align: middle;
      }
    }
  }

  /* Variants */
  &--success {
    border-color: $s-color-success;
  }

  &--success & {
    &__icon {
      color: $s-color-success;
    }
  }

  &--info {
    border-color: $s-color-info;
  }

  &--info & {
    &__icon {
      color: $s-color-info;
    }
  }

  &--warning {
    border-color: $s-color-warning;
  }

  &--warning & {
    &__icon {
      color: $s-color-warning;
    }
  }

  &--danger {
    border-color: $s-color-danger;
  }

  &--danger & {
    &__icon {
      color: $s-color-danger;
    }
  }

  &--closable & {
    &__content {
      padding-right: 0;
    }
  }

  &--fixed-bottom,
  &--fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    box-shadow: map-get($s-shadows, md);
    z-index: map-get($s-layers, "alert");
  }

  &--fixed-bottom-right {
    @media (min-width: map-get($s-breakpoints, sm)) {
      max-width: map-get($s-breakpoints, sm);
      margin-right: $grid-gutter;
    }
  }
}
