@import "../../../assets/styles/settings/_settings";
@import "../../../assets/styles/tools/_tools";

.o-pagination {
  $root: &;

  display: flex;
  justify-content: center;
  margin: t-vertical-rhythm(2) 0;
  padding: 0;
  border-top: 1px solid $s-color-gray;
  list-style: none;

  /** Index **/
  &__index {
    flex: 0 1 3em;
    margin: 0;

    #{$root}__link {
      @include t-link($s-color-text-dimmed, "none", $hover-decoration: "none");

      display: block;
      padding: t-vertical-rhythm(0.5) 0.3em;
      text-align: center;
    }

    /*** Active ***/
    &.is--active #{$root}__link {
      color: $s-color-link;
      font-weight: 700;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: currentColor;
      }
    }
  }

  /** First, Prev, Next, Last **/
  &__icon {
    font-size: 1.5rem !important; /* stylelint-disable-line declaration-no-important */
    line-height: 1 !important; /* stylelint-disable-line declaration-no-important */
  }
}
