/**
 * Backgrounds
 */

$s-backgrounds: (
  dots:
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='4'><path fill='#{rgba($s-color-black, .5)}' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'></path></svg>"),
  zigzag:
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='6'><path fill='#{rgba($s-color-text, .5)}' d='M4 5L0 0v1l4 5 4-5V0z'/></svg>"),
);

/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
:export {
  s_backgrounds_dots: map-get($s-backgrounds, dots);
  s_backgrounds_zigzag: map-get($s-backgrounds, zigzag);
}
