/**
 * Breakpoints (Mobile first)
 */

$s-breakpoints: (
  // (xs : Extra small devices (phones): 0 and up)
    sm: 425px + 1,
  // Small devices (tablets): 425px and up
    md: 768px + 1,
  // Medium devices (desktops): 768px and up
    lg: 1024px + 1,
  // Large devices (large desktops): 1366px and up
    xl: 1366px + 1
);

/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
:export {
  s_breakpoints_xs: map-get($s-breakpoints, sm) - 2;

  @each $bp-name, $bp-size in $s-breakpoints {
    s_breakpoints_#{unquote($bp-name)}: $bp-size - 1;
  }
}
