@use "sass:color";

/**
 * Colors
 */

/* stylelint-disable color-no-hex */

/* Scheme */

/** Primary **/
$s-color-primary: #273042;
$s-color-primary-lighter: color.scale($s-color-primary, $lightness: 20%);
$s-color-primary-darker: color.scale($s-color-primary, $lightness: -20%);

/** Secondary **/
$s-color-secondary: #546278;
$s-color-secondary-lighter: $s-color-primary-lighter;
$s-color-secondary-darker: $s-color-primary-darker;

/** Shades of gray **/
$s-color-white: #fff;
$s-color-gray-50: #fbfbfc;
$s-color-gray-100: #f1f3f6;
$s-color-gray-200: #e2e6eb;
$s-color-gray-300: #cdd2da;
$s-color-gray-400: #98a2b0;
$s-color-gray-500: #697283;
$s-color-gray-600: #4a5564;
$s-color-gray-700: #364152;
$s-color-gray-800: #1e2938;
$s-color-gray-900: #111827;
$s-color-gray-950: #020613;
$s-color-black: #111;

/** States **/
$s-color-success: #5eae91;
$s-color-info: #5293c7;
$s-color-warning: #ffb057;
$s-color-danger: #e35b66;

/** Typography **/
$s-color-heading: $s-color-primary;
$s-color-body: $s-color-secondary;
$s-color-muted-body: color.scale($s-color-body, $lightness: 40%);
$s-color-link: $s-color-primary;
$s-color-link-hover: $s-color-primary;

/** Selection **/
$s-color-selection-foreground: $s-color-white;
$s-color-selection-background: $s-color-primary;
