/**
 * Colors
 */

/* stylelint-disable color-no-hex */

/* Scheme */

/** Primary **/
$s-color-primary: #21354f;
$s-color-primary-lighter: scale-color($s-color-primary, $lightness: 15%);
$s-color-primary-darker: scale-color($s-color-primary, $lightness: -15%);

/** Secondary **/
$s-color-secondary: #d9c7ae;
$s-color-secondary-lighter: scale-color($s-color-secondary, $lightness: 15%);
$s-color-secondary-darker: scale-color($s-color-secondary, $lightness: -15%);

/** Shades of gray **/
$s-color-white: #fff;
$s-color-gray: #eff2f5;
$s-color-gray-lighter: lighten($s-color-gray, 3%);
$s-color-gray-darker: darken($s-color-gray, 3%);
$s-color-black: #111;

/** States **/
$s-color-success: #68d391;
$s-color-info: #63b3ed;
$s-color-warning: #f6ad55;
$s-color-danger: #fc8181;
