/**
 * Typography
 */

/* stylelint-disable color-no-hex */

$s-font-size-base: 0.875; // em = 14 px
$s-font-size-mobile: $s-font-size-base / 1.05; // Comment if unwanted
$s-line-height-base: 1.6;
$s-modular-scale-ratio: 1.2;

$s-font-family-primary: helvetica, arial, serif;
$s-font-family-secondary: "Times New Roman", times, serif;
$s-font-family-tertiary: "Abril Fatface", $s-font-family-secondary;
$s-font-family-quaternary: monospace;

$s-color-heading: #222;
$s-color-text: #666;
$s-color-text-dimmed: lighten($s-color-text, 37.5%);

/** Links **/
$s-color-link: $s-color-secondary;
$s-color-link-hover: $s-color-secondary-lighter;
$s-color-link-active: $s-color-secondary-darker;

/* Selection */
$s-color-selection-text: $s-color-white;
$s-color-selection-bg: $s-color-secondary;
