/**
 * Typography
 */
$s-font-size-base: 1; // rem = 16 px
$s-line-height-base: 1.5;
$s-modular-scale-ratio: 1.2;

/** Typefaces **/
$s-font-family-sans: var(--font-sans), system-ui, sans-serif;
$s-font-family-serif: var(--font-serif), serif;
$s-font-family-display: var(--font-display), serif;
$s-font-family-mono: monospace;
