@use "sass:map";
@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

.storybook {
  &-spacing {
    display: inline-block;
    background: settings.$s-color-gray-100;

    @for $i from 1 through 6 {
      &--#{$i} {
        width: tools.t-vertical-rhythm(1);
        height: tools.t-vertical-rhythm($i);

        /* stylelint-disable-next-line max-nesting-depth */
        @media (min-width: map.get(settings.$s-breakpoints, sm)) {
          width: tools.t-vertical-rhythm($i);
          height: tools.t-vertical-rhythm(1);
        }
      }
    }
  }
}
