@use "sass:map";
@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.storybook {
  &-spacing {
    display: inline-block;
    background: $s-color-gray;

    @for $i from 1 through 6 {
      &--#{$i} {
        width: t-vertical-rhythm(1);
        height: t-vertical-rhythm($i);

        /* stylelint-disable-next-line max-nesting-depth */
        @media (min-width: map.get($s-breakpoints, sm)) {
          width: t-vertical-rhythm($i);
          height: t-vertical-rhythm(1);
        }
      }
    }
  }
}
