@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.o-figure {
  display: table;
  margin: t-vertical-rhythm(2) 1em;

  &__img {
    display: block;
  }

  &__caption {
    display: table-caption;
    margin-top: t-vertical-rhythm(1);
    font-size: t-modular-scale(-1);
    color: $s-color-muted-body;
    text-align: center;
    caption-side: bottom;
  }

  /** Centered **/
  &--centered {
    margin-right: auto;
    margin-left: auto;
  }
}
