@import "assets/styles/settings/_settings.module";
@import "assets/styles/tools/_tools.module";

.o-figure {
  display: table;
  margin: t-vertical-rhythm(2) 1em;

  &__img {
    display: block;
  }

  &__caption {
    display: table-caption;
    margin-top: t-vertical-rhythm(1);
    font-size: t-modular-scale(-1, "rem");
    color: $s-color-text-dimmed;
    text-align: center;
    caption-side: bottom;
  }

  /** Centered **/
  &--centered {
    margin-right: auto;
    margin-left: auto;
  }
}
