.o-anchor {
  position: absolute;
  right: 100%;
  padding-right: 0.25em;
  font-weight: 400;
  font-style: normal;
  opacity: 0;

  *:hover > &,
  &:focus {
    opacity: 1;
    text-decoration: none;
  }
}
