.o-anchor {
  position: relative;

  /** Link **/
  &__link {
    position: absolute;
    right: 100%;
    padding-right: 0.25em;
    font-style: normal;
    font-weight: 400;
    opacity: 0;

    &:focus {
      text-decoration: none;
      opacity: 1;
    }
  }

  &:hover & {
    &__link {
      text-decoration: none;
      opacity: 1;
    }
  }
}
