@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

@keyframes loader-spin-animation {
  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes loader-spin-animation-asynchronous {
  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.o-loader {
  $loader-speed: 1.5s;

  display: inline-block;
  width: tools.t-vertical-rhythm(1.5);
  height: tools.t-vertical-rhythm(1.5);
  outline: 1.5px solid settings.$s-color-secondary;
  border-radius: 0.1875rem;
  animation: loader-spin-animation $loader-speed infinite ease;

  &::after {
    display: block;
    width: inherit;
    height: inherit;
    outline: inherit;
    content: "";
    border-radius: inherit;
    animation: inherit;
    animation-name: loader-spin-animation-asynchronous;
  }

  /** Small **/
  &--sm {
    width: tools.t-vertical-rhythm(0.75);
    height: tools.t-vertical-rhythm(0.75);
    border-radius: 0.125rem;
  }
}
