@import "assets/styles/settings/_settings";
@import "assets/styles/tools/_tools";

.o-loader {
  $loader-speed: 1.5s;

  display: inline-block;
  height: t-vertical-rhythm(1.5, "rem");
  width: t-vertical-rhythm(1.5, "rem");
  outline: 2px solid $s-color-secondary;
  animation: loader-spin-animation $loader-speed infinite ease;

  @include t-wekkit-hdpi-small-dimension("outline-width", 2);

  @keyframes loader-spin-animation {
    50% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  &::after {
    content: "";
    display: block;
    height: inherit;
    width: inherit;
    outline: inherit;
    animation: inherit;
    animation-name: loader-spin-animation-asynchronous;
  }

  @keyframes loader-spin-animation-asynchronous {
    50% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  /** Small **/
  &--sm {
    height: t-vertical-rhythm(0.75, "rem");
    width: t-vertical-rhythm(0.75, "rem");
  }
}
