@use "sass:map";
@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.p-header {
  $root: &;
  $skew-angle: 10deg;

  position: relative;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  text-shadow: 1px 1px 1px rgba($s-color-black, 0.3);
  background: map.get($s-backgrounds, dots),
    url("#{map.get($s-paths, theme)}header.jpg") left center/cover no-repeat
      $s-color-primary;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(
      transparent,
      rgba($s-color-primary-darker, 0.9) 90%
    );
  }

  & > * {
    position: relative;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    min-height: inherit;
  }

  /* Heading */
  &__heading {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    font-family: $s-font-family-display;
    font-size: t-modular-scale(4);
    font-weight: 400;
    color: $s-color-white;
    text-transform: uppercase;
    transition: font-size 0.5s;
    transform: skew(-$skew-angle);

    @media (min-width: map.get($s-breakpoints, sm)) {
      font-size: t-modular-scale(5);
    }

    @media (min-width: map.get($s-breakpoints, md)) {
      font-size: t-modular-scale(7);
    }

    @media (min-width: map.get($s-breakpoints, lg)) {
      font-size: t-modular-scale(9);
    }
  }

  /* Line */
  &__line {
    width: 2px;
    height: 2.5em;
    margin-right: 3px;
    margin-left: 3px;
    background: currentcolor;
    animation: line-animation 0.5s ease-out both;

    @keyframes line-animation {
      from {
        transform: scaleY(0);
      }
    }
  }

  /* Halfs */
  &__half {
    flex-basis: 50%;
    max-width: 50%;
    overflow: hidden;
  }

  &__half--left {
    padding-right: 0.2em;
    margin-bottom: 0.65em;
    text-align: right;

    #{$root}__text {
      animation: left-slide-animation 0.5s 0.5s ease-out both;
      /* stylelint-disable max-nesting-depth */
      @keyframes left-slide-animation {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }

        50% {
          opacity: 1;
        }

        100% {
          transform: translateX(0);
        }
      }
      /* stylelint-enable max-nesting-depth */
    }
  }

  &__half--right {
    padding-left: 0.2em;
    margin-top: 0.65em;

    #{$root}__text {
      animation: right-slide-animation 0.5s 0.5s ease-out both;
      /* stylelint-disable max-nesting-depth */
      @keyframes right-slide-animation {
        0% {
          opacity: 0;
          transform: translateX(-100%);
        }

        50% {
          opacity: 1;
        }

        100% {
          transform: translateX(0);
        }
      }
      /* stylelint-enable max-nesting-depth */
    }
  }

  /* Text */
  &__text-wrapper {
    display: inline-block;
    transform: skew($skew-angle);
  }

  &__text {
    display: inline-block;
  }

  /* Tagline */
  &__tagline {
    width: 100%;
    margin: t-vertical-rhythm(2) t-vertical-rhythm(1) t-vertical-rhythm(1);
    font-family: $s-font-family-mono;
    font-size: t-modular-scale(-1);
    font-weight: 400;
    color: $s-color-secondary;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    animation: tagline-animation 0.4s 1s ease-out both;

    @keyframes tagline-animation {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }

      50% {
        opacity: 1;
      }

      100% {
        transform: translateY(0);
      }
    }
  }

  &__tagline-breaker {
    @media (min-width: map.get($s-breakpoints, md)) {
      display: none;
    }
  }
}
