@use "sass:map";
@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.p-header {
  margin: t-vertical-rhythm(3) 0 t-vertical-rhythm(2);

  /* Heading */
  &__heading {
    margin-bottom: 0;
    font-family: $s-font-family-display;
    font-size: t-modular-scale(6);
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    transition: font-size 0.5s;
  }

  /* Tagline */
  &__tagline {
    display: block;
    margin-top: t-vertical-rhythm(0.25);
    margin-bottom: t-vertical-rhythm(1);
    font-family: $s-font-family-mono;
    font-size: t-modular-scale(0);
    color: $s-color-muted-body;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
}
