@use "sass:map";
@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

.p-header {
  margin: tools.t-vertical-rhythm(3) 0 tools.t-vertical-rhythm(2);

  /* Heading */
  &__heading {
    margin-bottom: 0;
    font-family: settings.$s-font-family-display;
    font-size: tools.t-modular-scale(6);
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    transition: font-size 0.5s;
  }

  /* Tagline */
  &__tagline {
    display: block;
    margin-top: tools.t-vertical-rhythm(0.25);
    margin-bottom: tools.t-vertical-rhythm(1);
    font-family: settings.$s-font-family-mono;
    font-size: tools.t-modular-scale(0);
    color: settings.$s-color-muted-body;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
}
