@use "sass:map";
@use "sass:color";
@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

$class: o-button;

.#{$class} {
  display: inline-block;
  padding: 0.375rem 1.125rem;
  font-family: $s-font-family-sans;
  font-size: t-modular-scale(0);
  line-height: $s-line-height-base;
  color: $s-color-body;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background: none;
  border: 2px solid $s-color-gray-200;
  border-radius: 0;
  border-radius: 9999px;
  transition: color 0.2s, background 0.2s, border-color 0.2s,
    transform 0.1s ease-out;

  @include t-wekkit-hdpi-small-dimension;

  &:hover,
  &:focus {
    color: $s-color-body;
    text-decoration: none;
    background-color: transparent;
    border-color: $s-color-body;
  }

  &:active {
    transform: translateY(2px);
  }

  &:focus {
    outline: none;
  }

  /** Primary **/
  &--primary {
    color: $s-color-white;
    background-color: $s-color-primary;
    border-color: $s-color-primary;

    &:hover,
    &:focus {
      color: $s-color-primary-lighter;
      background-color: transparent;
      border-color: $s-color-primary-lighter;
    }

    &:active {
      color: $s-color-primary-darker;
      background-color: transparent;
      border-color: $s-color-primary-darker;
    }
  }

  /** Secondary **/
  &--secondary {
    color: $s-color-secondary;
    border-color: $s-color-secondary;

    &:hover,
    &:focus {
      color: $s-color-white;
      background-color: $s-color-secondary-lighter;
      border-color: $s-color-secondary-lighter;
    }

    &:active {
      color: $s-color-white;
      background-color: $s-color-secondary-darker;
      border-color: $s-color-secondary-darker;
    }
  }

  /** Disabled **/
  &[disabled] {
    color: $s-color-gray-200;
    pointer-events: none;
    cursor: default;
    user-select: none;
    background-color: $s-color-gray-50;
    border-color: currentcolor;

    &:active {
      transform: none;
    }
  }

  /** Small **/
  &--sm {
    padding: 0.375rem 0.875rem;
    font-size: t-modular-scale(-1);

    &.#{$class}--icon {
      column-gap: 0.625rem;

      > svg {
        width: 0.875rem;
        height: 0.875rem;
      }
    }
  }

  /** Large **/
  &--lg {
    padding: 0.5rem 1.375rem;
    font-size: t-modular-scale(1);

    &.#{$class}--icon {
      column-gap: 0.875rem;

      > svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  /** Icon **/
  &--icon {
    display: inline-flex;
    column-gap: 0.75rem;
    align-items: center;
    justify-content: center;

    > svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  /** Full width **/
  &--block {
    width: 100%;
  }

  @media (max-width: map.get($s-breakpoints, sm)) {
    @at-root .sm\:#{$class}--block {
      width: 100%;
    }
  }

  @media (max-width: map.get($s-breakpoints, md)) {
    @at-root .md\:#{$class}--block {
      width: 100%;
    }
  }
}
