@import '../../../assets/styles/settings/_settings';
@import '../../../assets/styles/tools/_tools';

.o-accordion {
	$root: &;

	display: flex;
	flex-direction: column;
	margin: t-vertical-rhythm(1) 0;
	padding: 0;
	list-style: none;

	&__item {
		flex: 0 1 auto;
		border-bottom: 1px solid $s-color-gray;

		/* Active */
		&.is--active {
			#{$root}__thumb {
				color: $s-color-link;
				font-weight: 700;
			}

			#{$root}__thumb-icon {
				transform: rotate(90deg);
			}
		}
	}

	/* Thumb */
	&__thumb {
		background-color: transparent;
		border: 0;
		outline: 0;
		all: unset;

		@include t-link($s-color-text-dimmed, 'none', $hover-decoration: 'none');

		display: block;
		margin: 0;
		padding: t-vertical-rhythm(.5) 0;
		cursor: pointer;
		transition: font-weight .2s ease-out;
	}

	/* Thumb icon */
	&__thumb-icon {
		transition: transform .3s;
		font-size: 1.5rem !important; /* stylelint-disable-line declaration-no-important */
		line-height: 1 !important; /* stylelint-disable-line declaration-no-important */
	}

	/* Panel */
	&__panel {
		margin: 0;
		padding-bottom: t-vertical-rhythm(.5);
		display: none;

		*:first-child {
			margin-top: 0;
		}

		*:last-child {
			margin-bottom: 0;
		}
	}
}
