@import "@/assets/styles/settings/settings.module";
@import "@/assets/styles/tools/tools.module";

.p-main {
  flex-grow: 1;
  margin-top: t-vertical-rhythm(3);
  margin-bottom: t-vertical-rhythm(3);

  &--no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
}
