@import "assets/styles/settings/_settings.module";
@import "assets/styles/tools/_tools.module";

.c-social-media {
  margin-top: t-vertical-rhythm(0.5);
  white-space: nowrap;

  svg {
    width: t-modular-scale(2);
    height: t-modular-scale(2);
    margin-right: 1em;
    vertical-align: text-bottom;
    fill: $s-color-primary;
  }
}
