@import "assets/styles/settings/_settings.module";
@import "assets/styles/tools/_tools.module";

.o-tooltip {
  $root: &;
  $slide-distance: 0.5rem !default;

  position: relative;
  text-decoration: underline dashed $s-color-info;
  cursor: help;
  text-underline-position: under;

  &:hover,
  &:focus {
    #{$root}__content {
      visibility: visible;
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
  }

  &__content {
    position: absolute;
    z-index: map-get($s-layers, "tooltip");
    padding: 0.5rem;
    font-size: t-modular-scale(-1, "rem");
    font-style: normal;
    font-weight: 400;
    line-height: $s-line-height-base;
    color: $s-color-text;
    white-space: nowrap;
    visibility: hidden;
    background-color: $s-color-white;
    border: 2px solid;
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out,
      visibility 0.2s ease-out;

    @include t-wekkit-hdpi-small-dimension;
  }

  /* Position */

  /** Top (default) **/
  &--top {
    #{$root}__content {
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, $slide-distance);
    }

    &:hover,
    &:focus {
      #{$root}__content {
        transform: translate(-50%, -$slide-distance);
      }
    }
  }

  /** Right **/
  &--right {
    #{$root}__content {
      top: 50%;
      left: 100%;
      transform: translate(-$slide-distance, -50%);
    }

    &:hover,
    &:focus {
      #{$root}__content {
        transform: translate($slide-distance, -50%);
      }
    }
  }

  /** Bottom **/
  &--bottom {
    #{$root}__content {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -$slide-distance);
    }

    &:hover,
    &:focus {
      #{$root}__content {
        transform: translate(-50%, $slide-distance);
      }
    }
  }

  /** Left **/
  &--left {
    #{$root}__content {
      top: 50%;
      right: 100%;
      transform: translate($slide-distance, -50%);
    }

    &:hover,
    &:focus {
      #{$root}__content {
        transform: translate(-$slide-distance, -50%);
      }
    }
  }

  /** No Indicator **/
  &--no-indicator {
    text-decoration: none;
    cursor: default;
  }

  /** Multilines **/
  &--multi-lines {
    #{$root}__content {
      min-width: t-vertical-rhythm(10, "rem");
      text-align: center;
      word-wrap: break-word;
      white-space: normal;
    }
  }
}
