@use "src/assets/styles/settings/settings.module";

$form-settings: (
  default: (
    color: settings.$s-color-gray-200,
  ),
  hover: (
    color: settings.$s-color-gray-300,
  ),
  focus: (
    color: settings.$s-color-body,
  ),
  disabled: (
    color: settings.$s-color-gray-100,
    color-secondary: settings.$s-color-gray-50,
    color-tertiary: settings.$s-color-gray-200,
  ),
);
