@import "assets/styles/settings/_settings.module";
@import "assets/styles/tools/_tools.module";

.c-experience {
  &:not(:first-child) {
    padding-top: t-vertical-rhythm(1);
    border-top: 1px solid $s-color-gray;
  }

  &__heading {
    margin-bottom: 0;
  }

  &__company {
    font-weight: 700;
  }

  &__subheading {
    margin-top: 0;
    color: $s-color-text-dimmed;
  }

  &__lede {
    font-style: italic;
  }
}
