/**
 * Anchor
 *
 * @markup: <h2 class="u-anchor"><a id="anchor-id" class="u-anchor__link" href="anchor-id">#</a>Heading 2</h2>
 */

.u-anchor {
  position: relative;

  /** Link **/
  &__link {
    position: absolute;
    right: 100%;
    padding-right: 0.25em;
    font-weight: 300;
    font-style: normal;
    opacity: 0;

    &:focus {
      opacity: 1;
      text-decoration: none;
    }
  }

  &:hover & {
    &__link {
      opacity: 1;
      text-decoration: none;
    }
  }
}
