@use "src/assets/styles/settings/settings.module";

/**
 * Color
 */

.u-color {
  &--muted {
    color: settings.$s-color-muted-body;
  }

  /** States colors **/
  &--success {
    color: settings.$s-color-success;
  }

  &--info {
    color: settings.$s-color-info;
  }

  &--warning {
    color: settings.$s-color-warning;
  }

  &--danger {
    color: settings.$s-color-danger;
  }
}
