/**
 * Counter
 */

.u-counter {
  counter-reset: index-1;

  /* Index */
  @for $i from 1 through 6 {
    &__index-#{$i} {
      counter-reset: index-#{$i + 1};
      counter-increment: index-#{$i};

      &::before {
        $k: "";

        /* stylelint-disable-next-line max-nesting-depth */
        @for $j from 1 through $i {
          $k: $k + counter(index-#{$j}) + attr(data-counter-separator);
        }

        content: #{$k};
      }
    }
  }

  &__index--space::before {
    margin-right: 0.5em;
  }
}
