/**
 * Colors
 */

.u-color {
  &--dimmed {
    color: $s-color-text-dimmed;
  }

  /** States colors **/
  &--success {
    color: $s-color-success;
  }

  &--info {
    color: $s-color-info;
  }

  &--warning {
    color: $s-color-warning;
  }

  &--danger {
    color: $s-color-danger;
  }
}
