@use "src/assets/styles/settings/settings.module";
@use "src/assets/styles/tools/tools.module";

/**
 * Typography
 */
@keyframes u-heading-underline-animation {
  from {
    transform: scaleX(0) skew(-45deg);
  }

  to {
    transform: scaleX(1) skew(-45deg);
  }
}

/* Headings */
.u-heading {
  &--xl {
    @include tools.t-heading--xl;
  }

  &--lg {
    @include tools.t-heading--lg;
  }

  &--1 {
    @include tools.t-heading--1;
  }

  &--2 {
    @include tools.t-heading--2;
  }

  &--3 {
    @include tools.t-heading--3;
  }

  &--4 {
    @include tools.t-heading--4;
  }

  &--5 {
    @include tools.t-heading--5;
  }

  &--6 {
    @include tools.t-heading--6;
  }

  /** Underline **/
  &__underline {
    display: block;
    width: 2.5em;
    height: 0.1em;
    margin-top: 0.5em;
    background-color: settings.$s-color-secondary;
    transform-origin: left;
    animation: u-heading-underline-animation 0.3s ease-out both;

    &--c {
      margin-right: auto;
      margin-left: auto;
    }

    &--r {
      margin-left: auto;
    }
  }
}
