/**
 * Visibility
 */

// Hide from both screenreaders and browsers
.u-is-hidden {
  display: none;
}

.u-is-shown {
  display: block;
  display: initial;
}

// Hide only visually, but have it available for screenreaders
.u-is-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;

  // Allow the element to be focusable when navigated to via the keyboard
  &.u-is-focusable:active,
  &.u-is-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

// Hide visually and from screenreaders, but maintain layout
.u-is-invisible {
  visibility: hidden;
}

/* Print */
@media print {
  .print\:u-is-hidden {
    display: none;
  }

  .print\:u-is-shown {
    display: block;
    display: initial;
  }
}
